#envImg {
  /* width: 50rem; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

#moshi {
  /* width: 15rem; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

#slider {
  width: 2em;
  display: block;
  height: 15em;
  /* width: 5em; */
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}

#submitButton {
  /* width: 15rem; */
  margin: 3em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

p {
  display: block;
  /* margin-top: 1em;
  margin-bottom: 1em; */
  margin-left: auto;
  margin-right: auto;
  /* width: 50% */
}